@model IEnumerable<BusinessConnectManagement.Models.VanLangUser>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/font/fontawesome/css/all.css">
    <link rel="stylesheet" href="assets/css/spectre/spectre.min.css">
    <link rel="stylesheet" href="assets/css/spectre/spectre-exp.min.css">
    <link rel="stylesheet" href="assets/css/spectre/spectre-icons.min.css">
    <link rel="stylesheet" href="assets/css/animation.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div id="header-desktop" class="main-bg-color d-block d-none-sm d-none-md d-none-xl">
            <div class="container">
                <div class="d-flex align-middle justify-between">
                    <div class="logo">
                        <a href="#">
                            <img src="./assets/images/logo.png" alt="logo">
                        </a>
                    </div>
                    <div id="main-menu">
                        <ul class="d-flex align-middle justify-center">
                            <li class="item">
                                <a href="#">Trang chủ</a>
                            <li class="item">
                                <a href="#">Giới thiệu</a>
                            <li class="item">
                                <a href="#">Danh mục 1</a>
                            <li class="item">
                                <a href="#">Danh mục 2</a>
                            <li class="item">
                                <a href="#">Danh mục 3</a>
                            <li class="item">
                                <a href="#">Tin tức</a>
                            </li>
                            <li class="item">
                                <a href="#">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="user">
                        <a href="#">
                            <img src="./assets/images/user.png" alt="user">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="header-mobile" class="main-bg-color d-none d-sm d-md d-xl">
            <div class="container">
                <div class="d-flex align-middle justify-between">
                    <div class="sidebar">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                    <div class="logo">
                        <a href="#">
                            <img src="../assets/images/logo.png" alt="logo">
                        </a>
                    </div>
                    <div class="user">
                        <a href="#">
                            <img src="../assets/images/user.png" alt="user">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>

        <div id="profile">
            <div class="body">
                <div class="avatar-profile mb15">
                    <img src="./assets/images/profile.png" alt="profile">
                </div>
                <h4 class="text-h3">Nguyễn Văn A</h4>
                <p class="text-h4 bold-5 mb-2"><strong>Email:</strong> admin@mail.com</p>
                <p class="text-h4 bold-5 mb-2"><strong>MSSV:</strong> 12345676</p>
                <p class="text-h4 bold-5 mb-2"><strong>SĐT:</strong> 0909123123</p>
                <p class="text-h4 bold-5 mb-2"><strong>Muốn ghi gì ghi:</strong> ABCXYZ</p>

                <div class="mt15">
                    <a href="" class="text-success">
                        <u class="bold-6"><i>Tải CV</i></u>
                    </a>
                </div>
            </div>
        </div>

        <footer class="bg-dark">
            <div class="container">
                <div class="columns py20">
                    <div class="column col-3 col-sm-12 col-md-6 col-xl-6 mb10">
                        <div class="logo text-center">
                            <img src="./assets/images/logo.png" alt="logo">
                        </div>
                    </div>
                    <div class="column col-4 col-sm-12 col-md-6 col-xl-6 mb10">
                        <div class="title-ft">Truy cập nhanh</div>
                        <ul>
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Danh mục 1</a></li>
                            <li><a href="#">Danh mục 2</a></li>
                            <li><a href="#">Danh mục 3</a></li>
                            <li><a href="#">Tin tức</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </div>
                    <div class="column col-5 col-sm-12 col-md-12 col-xl-12 mb10">
                        <div class="title-ft">Trường Đại Học Văn Lang</div>
                        <ul>
                            <li><strong>Trụ sở:</strong> 45 Nguyễn Khắc Nhu, P. Cô Giang, Q.1, Tp. HCM</li>
                            <li><strong>Cơ sở 2:</strong> 80/68 Dương Quảng Hàm, P.5, Q. Gò Vấp, Tp. HCM</li>
                            <li><strong>Cơ sở 3:</strong> 69/68 Đặng Thùy Trâm, P. 13, Q. Bình Thạnh, Tp. HCM</li>
                            <li><strong>Văn phòng:</strong> P. 2.02, Tòa nhà LV (Cơ sở 3)</li>
                            <li><strong>Liên hệ :</strong> qhdn@vanlanguni.edu.vn - (028) 71099 224</li>
                        </ul>

                    </div>
                </div>
            </div>
        </footer>
    </main>

</body>

</html>