@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập - Doanh Nghiệp</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/reset.css">
    <link rel="stylesheet" href="~/assets/css/global2.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/toast.css">
    <link rel="shortcut icon" href="~/assets/images/favicon.ico" type="image/x-icon">
</head>

<body>
    <section class="login">
        <img src="~/assets/images/logoDoanhNghiep.png" alt="logoDoanhNghiep.png" class="login-image">
        <form action="@Url.Action("Login")" method="post" class="login-form">
            <h1 class="login-heading">Chào mừng quý doanh nghiệp</h1>
            <div class="login-group">
                <label for="login-username" class="login-label">Tên đăng nhập</label>
                <input type="text" name="username" id="login-username" class="login-input" placeholder="Tên đăng nhập" required
                       autocomplete="off">
                @if (Convert.ToBoolean(Session["username-incorrect"]) == true)
                {
                    <span class="login-message login-message--username">Tài khoản không tồn tại !!!</span>
                }
            </div>
            <div class="login-group">
                <label for="login-password" class="login-label">Mật khẩu</label>
                <input type="password" name="password" id="login-password" class="login-input" placeholder="Mật khẩu" required>
                @if (Convert.ToBoolean(Session["password-incorrect"]) == true)
                {
                    <span class="login-message login-message--password">Mật khẩu không đúng !!!</span>
                }
            </div>
            <div class="login-submit">
                <button type="submit" class="login-button">Đăng nhập</button>
            </div>
        </form>
    </section>
</body>

</html>