@model IEnumerable<BusinessConnectManagement.Models.InternshipResult>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Business/Views/Shared/_Layout.cshtml";
}

<section class="list">
    <h1 class="list-heading">Danh sách thực tập</h1>
    @if (TempData != null)
    {

        @Html.Raw(@TempData["AlertMessage"]);


    }
    <div class="list-table">

        <div class="filter">
            <div class="bu_status"></div>
            <label id="nameLabel1">Lọc:</label>
        </div>
        <table id="table_listData" class="display">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên</th>
                    <th>Email</th>
                    <th>SĐT</th>
                    <th>Vị Trí</th>
                    <th>Trạng thái</th>
                    <th>Chức năng</th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</section>


<form class="form" id="updateForm" method="post">

    <div class="form-container--small">
        <h1 class="form-heading">Cập Nhật Trạng Thái</h1>

        <div class="form-group">
            <label class="form-label">Chấm Điểm</label>
            <input list="" name="BusinessPoint" id="BusinessPoint" class="form-input" />
        </div>
        <div class="form-group">
            <label class="form-label">Nhận xét</label>
            <textarea id="BusinessComment" name="BusinessComment" class="form-input"></textarea>
        </div>
        <div class="form-group">
            @*-------------------------------------*@
            <input list="" name="ID" id="ID" class="form-input" hidden />
            <input list="" name="Student_Email" id="Student_Email" class="form-input" hidden />
            <input list="" name="Semester_ID" id="Semester_ID" class="form-input" hidden />
            <input list="" name="Mentor_Email" id="Mentor_Email" class="form-input" hidden />
            <input list="" name="MentorPoint" id="MentorPoint" class="form-input" hidden />
            <input list="" name="MentorComment" id="MentorComment" class="form-input" hidden />
            <input list="" name="Business_ID" id="Business_ID" class="form-input" hidden />

            <input list="" name="BusinessComment" id="BusinessComment" class="form-input" hidden />
            <input list="" name="InternshipTopic_ID" id="InternshipTopic_ID" class="form-input" hidden />
            @*-------------------------------------*@
            <label class="form-label">Trạng Thái</label>
            <select name="Status" id="interviewStatus" class="form-input">
                <option class="text-center" value="Chờ Xác Nhận">Chờ Xác Nhận</option>
                <option class="text-center" value="Đang Thực Tập">Đang Thực Tập</option>
                <option class="text-center" value="Thực Tập Xong">Thực Tập Xong</option>
            </select>
        </div>



        <div class="form-group">
            <a class="btn btn--cancel">Hủy</a>
            <button class="btn btn--confirm" type="submit">Xác Nhận</button>
        </div>
    </div>

</form>

@section Scripts{

    <script type="text/javascript">
         $(function () {
            var url = "@Url.Action("getDataList", "InternshipResults")"
            "use strict";
             (dataTable = $("#table_listData").DataTable({
                ajax: {
                    url: url,
                    type: "GET",
                    dataType: "json",
                     dataSrc: "",
                },
                deferRender: !0,
                 columns: [
                    { data: null },
                    { data: "name" },
                    { data: "email" },
                    { data: "phone" },
                     { data: "position" },
                     {
                         data: "status",
                         render: function (data) {
                             if (data == "Đang Thực Tập") {
                                 return '<span class="text-center text--none">' + data + '</span>'
                             } else if (data == "Thực Tập Xong") {
                                 return '<span class="text-center text--done">' + data + '</span>'
                             } else if (data == "Chờ Xác Nhận") {
                                 return '<span class="text-center text--wait">' + data + '</span>'
                             } else if (data == "Hủy Đơn") {
                                 return '<span class="text-center text--wait">' + data + '</span>'
                             }

                         }
                     },
                    {
                        data: "id",
                        render: function (t, e, a) {
                            return (
                                `
                                <a href="@Url.Action("Details", "InternshipResults")/${t}" id="business_detail" class="business_detail">
                                <div class="btn btn--update">
                                    <i class="btn-icon btn-icon--edit fal fa-edit"></i>
                                </div>
                                </a>
                               `
                            );
                        },

                    },

                ],
                 initComplete: function () {
                     this.api()
                         .columns(5)
                         .every(function () {
                             var t = this,
                                 e = $(
                                     '<select id="UserType" style="margin-right: 8px;border: 1px solid #aaa;border-radius: 3px;padding: 5px;background-color: transparent; margin-left: 3px;" class="form-select text-capitalize mb-md-0 mb-2xx"><option value="">---- Chọn Trạng Thái Để Lọc ----</option></select>'
                                 )
                                     .prependTo("#table_listData_filter")
                                     .on("change", function () {
                                         var e = $.fn.dataTable.util.escapeRegex($(this).val());
                                         t.search(e ? "^" + e + "$" : "", !0, !1).draw();
                                     });
                             t.data()
                                 .unique()
                                 .sort()
                                 .each(function (t, a) {
                                     t &&
                                         e.append(
                                             '<option value="' +
                                             t +
                                             '" class="text-capitalize">' +
                                             t +
                                             "</option>"
                                         );
                                 });
                         })
                 }
            })
            )
            dataTable.on("draw.dt", function () {
                dataTable.column(0, { search: "applied", order: "applied" }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            });
         });
         $('#table_listData').on('click', '.business_detail', function (e) {
            e.preventDefault()
             const form = document.getElementById('updateForm');
        form.classList.add('is-appear');
            const url = $(this).attr('href');
            $.ajax({
                url: url,
                type: "get",
                dataType: 'json',
                success: function (res) {
                    console.log(res)
                    const actionUrl = `@Url.Action("Edit", "InternshipResults")` + `/${res[0].id}`
                    $('#ID').val(res[0].id)
                    $('#Student_Email').val(res[0].Student_Email)
                    $('#Post_ID').val(res[0].post_id)
                    $('#Semester_ID').val(res[0].Semester_ID)
                    $('#Mentor_Email').val(res[0].Mentor_Email)
                    $('#MentorPoint').val(res[0].MentorPoint)
                    $('#MentorComment').val(res[0].MentorComment)
                    $('#Business_ID').val(res[0].Business_ID)
                    $('#BusinessPoint').val(res[0].BusinessPoint)
                    $('#BusinessComment').val(res[0].BusinessComment)
                    $('#InternshipTopic_ID').val(res[0].InternshipTopic_ID)
                    if (res[0].status === "Chờ Xác Nhận") {
                        $('select option[value="Chờ Xác Nhận"]').attr("selected", "selected");
                    } else if (res[0].status === "Đang Thực Tập"){
                        $('select option[value="Đang Thực Tập"]').attr("selected", "selected");
                    }
                    else if (res[0].status === "Thực Tập Xong") {
                        $('select option[value="Thực Tập Xong"]').attr("selected", "selected");
                    }
                    $('#updateForm').attr('action', `${actionUrl}`)
                }
            })
        })
    </script>
    <script>
        $(document).ready(function () {
            $.validator.addMethod("blank", function (value, element) {
                return (!/^\s*$/.test(value));
            }, "Vui lòng nhập điểm đánh giá.");
            /*--------------------------update---------------*/
            $("#updateForm").validate();
            // cái này là on blur nè
            $("#updateForm input, #updateForm input").on("blur", function () {
                $(this).valid();
            });

            // cái này là on change nè
            $("#updateForm input, #updateForm input").on("change", function () {
                $(this).removeClass("error");
            });
        });
        $("#updateForm").validate({
            rules: {
                BusinessPoint: {
                    required: true,
                    digits: true,
                    min: 0,
                    max: 10

                }
            },
            messages: {
                BusinessPoint: {
                    required: "Vui lòng nhập điểm đánh giá.",
                    digits: "Điểm đánh giá chỉ bao gồm các kí tự số.",
                    min: "Điểm đánh giá từ 0 đến 10",
                    max: "Điểm đánh giá từ 0 đến 10",
                }
            }
        });

    </script>
}
