/* //////////////////////////////////////////////////////
/  Sticky  Header    /
////////////////////////////////////////////////////// */
.sticky {
    position: fixed;
    width: 100vw;
    height: auto;
    left: 0;
    top: 0;
    background-color: var(--primary);
    z-index: 10000;
}

html {
    scroll-behavior: smooth;
}
/* //////////////////////////////////////////////////////
/    Header    /
////////////////////////////////////////////////////// */
#header-desktop .logo img {
    width: 200px;
}

#header-mobile .logo img {
    width: 150px;
}

#main-menu .item {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 5px;
}

    #main-menu .item a {
        color: white !important;
        padding: 15px 25px;
    }

        #main-menu .item a:hover {
            opacity: 0.7;
        }

header .user {
    padding-inline: 10px;
    display: inline-block;
}

    header .user img {
        width: 35px;
        height: 35px;
    }

/* //////////////////////////////////////////////////////
/    main    /
////////////////////////////////////////////////////// */
#slider {
    margin-top: var(--header-height);
    position: relative;
}

@media only screen and (max-width: 480px) {
    #slider {
        margin-top: var(--header-height-mobile);
    }
}

    #slider video {
        width: 100%;
        position: relative;
    }

    #slider::after {
        content: "";
        position: absolute;
        background-color: #c5848469;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    #slider .form {
        z-index: 1;
        width: 80%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

        #slider .form .form-select,
        #slider .form .form-input {
            height: 3rem;
            font-size: 1.1rem;
        }

#gioi-thieu .wrapper {
    padding: 0 10px;
}

    #gioi-thieu .wrapper img {
        width: 100%;
    }

#gioi-thieu .body {
    position: relative;
    padding: 20px 0;
    height: 100%;
}

    #gioi-thieu .body h2 {
        position: relative;
        font-size: 3rem;
        line-height: 3.3rem !important;
        background-color: rgb(40, 40, 157);
        right: 0;
        color: rgb(207, 120, 45);
        padding: 12px 15px 12px 0;
        height: calc(7.5rem + 12px);
    }

        #gioi-thieu .body h2::after {
            content: "";
            background-color: rgb(40, 40, 157);
            width: 100px;
            height: 100%;
            position: absolute;
            left: -100px;
            top: 0;
        }

    #gioi-thieu .body p {
        font-size: 1.2rem;
        position: absolute;
        left: 0;
        top: calc(7.5rem + 40px);
    }

#gioi-thieu .btn-position {
    position: absolute;
    right: 0;
    bottom: 0;
}

    #gioi-thieu .btn-position button {
        border: none;
        outline: none;
        position: relative;
        background-color: red;
        padding: 0 70px 0 18px;
        height: 52px;
        line-height: 52px;
        border-radius: 26px;
    }

    #gioi-thieu .btn-position .d-flex span {
        font-size: 1.1rem;
        font-weight: 600;
        color: white;
    }

    #gioi-thieu .btn-position .d-flex i {
        font-size: 1.1rem;
        font-weight: 600;
        width: 48px;
        height: 48px;
        position: absolute;
        top: 2px;
        right: 2px;
        text-align: center;
        line-height: 48px;
        background-color: white;
        border-radius: 50%;
    }

#featured-icon {
    padding: 40px 0;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

    #featured-icon::after {
        z-index: 0;
        position: absolute;
        content: "";
        background-color: rgb(0 0 0 / 53%);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    #featured-icon .container {
        position: relative;
        z-index: 2;
        color: white;
    }

    #featured-icon .text-center img {
        width: 100px;
        height: 100px;
        margin-bottom: 0.8rem;
    }

    #featured-icon .text-center h3 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 0.4rem;
    }

    #featured-icon .text-center p {
        font-size: 1.5rem;
        font-weight: 600;
    }

#intro-home .item {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 18px 36px 0 rgb(0 87 195 / 12%);
}

    #intro-home .item .s-circle {
        width: 50px;
        height: 50px;
    }

        #intro-home .item .s-circle i {
            line-height: 50px;
        }

.title-home {
    position: relative;
    text-align: center;
}

    .title-home a {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-weight: 600 !important;
    }

    .title-home h3 {
        color: var(--primary);
        font-size: 2.4rem;
        font-weight: 700;
        text-align: center;
        padding: 10px;
        text-transform: uppercase;
    }

#mou {
    padding: 40px 0;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

    #mou::after {
        z-index: 0;
        position: absolute;
        content: "";
        background-color: rgb(0 0 0 / 53%);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    #mou .container {
        position: relative;
        z-index: 2;
    }

/* Nhà tuyển dụng  */

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7))
    }
}

.slider {
    background-color: transparent ;
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 1124px;
}

    .slider::before,
    .slider::after {
        background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
        content: "";
        height: 100px;
        position: absolute;
        width: 200px;
        z-index: 2;
    }

    .slider::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    .slider::before {
        left: 0;
        top: 0;
    }

.slide-track {
    animation: scroll 20s linear infinite;
    display: flex;
    align-items: center;
    width: calc(250px * 14);
}

.slide {
    height: 100px;
    width: 250px;
    text-align: center;
}

    .slide img {
        width: 100%;
        height: 100px;
        object-fit: contain;
    }


/* ratings carousel  */
#rating {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

    #rating::after {
        z-index: 0;
        position: absolute;
        content: "";
        background-color: rgb(0 0 0 / 53%);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

ul,
li {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.carousel {
    background-color: transparent !important;
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translateX(50%);
    overflow: hidden;
}

.carousel_slider {
    width: 100%;
    height: 87%;
    overflow: hidden;
    position: relative;
}

.content_inner_slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.carousel .img {
    min-width: 50vw;
    height: 100%;
    object-fit: cover;
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 40px;
    padding: 40px;
}

    .carousel .img img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 1rem;
    }

    .carousel .img .name {
        font-size: 2rem;
        color: rgb(182, 28, 28);
        font-weight: 600;
        margin-bottom: 0.4rem;
    }

    .carousel .img .position {
        font-size: 1.6rem;
        color: rgb(182, 28, 28);
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .carousel .img .summary {
        font-size: 1.1rem;
        font-weight: 600;
        color: white;
    }

.carousel .dotss {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.prev_button {
    left: 0;
}

.next_button {
    right: 0;
}

.dots {
    display: flex;
    margin: 1rem 0;
}

.dot {
    width: 1rem;
    height: 1rem;
    border: 1px solid #d6d5d594;
    background-color: #d6d5d594;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.form {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

/* Question  */

#question .item {
    background-color: white;
    margin-bottom: 0.6rem !important;
}

    #question .item .question {
        box-shadow: 0px 0px 3px 1px #d3d3d3;
        min-height: 2rem !important;
        border-radius: 4px;
        margin-bottom: 0;
        padding: 4px 12px;
        background-color: #d3d3d3;
    }

        #question .item .question p {
            font-size: 1.1rem;
            line-height: 1.8rem;
            font-weight: 600;
        }

    #question .item .answer {
        background-color: white;
        box-shadow: 0px 0px 3px 1px #d3d3d3;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 0 10px;
        font-size: 1.1rem;
        font-weight: 500;
        color: #6e6e6e;
    }




.chip {
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
}

#job .content {
    flex: 1;
}

#job .item {
    background: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: -7px 7px 18px 1px rgb(0 0 0 / 40%);
    margin-bottom: 30px;
}

    #job .item img {
        width: 100px;
        height: 120px;
        object-fit: cover;
        margin-bottom: 0 !important;
        margin-right: 20px;
    }

    #job .item .desc {
        flex-wrap: wrap;
    }

#mou {
    background-color: rgb(255 111 95 / 64%);
}

    #mou .item {
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 3px 7px 0 rgb(0 0 0 / 18%);
        padding: 15px;
    }

        #mou .item .name {
            font-size: 1.2rem;
            font-weight: 600;
        }

#employer .item {
    height: 200px;
    text-align: center;
    border: 1px solid #dddddd;
}

    #employer .item img {
        width: 200px;
        height: 180px;
        object-fit: contain;
        margin-bottom: 0 !important;
    }

#news .item {
    height: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / 18%);
    padding: 15px;
}

.zoom-small {
    height:213px;
}

.sidebar {
    width: 28px;
    height: 28px;
    color: #fff;
}

.nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.2);
    display: none;
    animation: fadeIn linear .2s;
}

.nav__mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: var(--primary);
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear .2s, opacity linear .2s;
}

.img-wrapper {
    margin: 24px 24px 0 24px;
}

.nav__mobile-list {
    margin: 24px;
    list-style: none;
}

    .nav__mobile-list li {
        margin:12px 0;
    }

    .nav__mobile-close {
        width: 20px;
        height: 20px;
        color: #fff;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

.nav__mobile-link {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 5px;
    color: #fff !important;
}

.nav__input:checked ~ .nav__overlay {
    display: block;
}

.nav__input:checked ~ .nav__mobile {
    transform: translateX(0);
    opacity: 1;
}

#news .item .name {
    font-size: 1.2rem;
    font-weight: 600;
}

.title-ft {
    font-size: 1.3rem;
    font-weight: 700;
    position: relative;
    padding-bottom: 10px;
}

    .title-ft::before {
        position: absolute;
        content: "";
        width: 50px;
        height: 3px;
        background-color: white;
        left: 0;
        bottom: 0;
    }

footer {
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

    footer .container {
        position: relative;
        z-index: 1;
    }

    footer::after {
        z-index: 0;
        position: absolute;
        content: "";
        background-color: rgb(0 0 0 / 53%);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    footer li strong {
        width: 100px;
    }

    footer a {
        color: white !important;
    }




.wrapper-banner {
    position: relative;
}

    .wrapper-banner:hover .line-hover:before {
        transform: scale(1, 1)
    }

    .wrapper-banner:hover .line-hover:after {
        transform: scale(1, 1)
    }

    .wrapper-banner .line-hover {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
    }

        .wrapper-banner .line-hover::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            box-sizing: border-box;
            transition: 0.5s;
            transform: scale(0, 1)
        }

        .wrapper-banner .line-hover::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            box-sizing: border-box;
            transition: 0.5s;
            transform: scale(1, 0)
        }



/* //////////////////////////////////////////////////////
/    Trang tìm việc    /
////////////////////////////////////////////////////// */

#bg-form {
    margin-top: var(--header-height);
    position: relative;
    height: 40vh;
}

    #bg-form img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #bg-form .form {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
    }

        #bg-form .form .form-select,
        #bg-form .form .form-input {
            height: 3rem;
            font-size: 1.1rem;
        }

/* //////////////////////////////////////////////////////
/    Trang Liên hệ    /
////////////////////////////////////////////////////// */
#contact .form-label {
    font-size: 1.1rem;
    font-weight: 600;
}

#contact .form-input {
    height: 2.8rem;
    font-size: 1.1rem;
}

#contact textarea {
    row-gap: 8;
}

#contact .form-input,
#contact textarea {
    border-radius: 4px;
}


#bg-bread {
    background-image: url(../images/homepage.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
    color: white;
    margin-top:var(--header-height);
}

    #bg-bread .overlay-bread {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.519);
        left: 0;
        top: 0;
    }

    #bg-bread .container {
        height: 300px;
        position: relative;
    }

    #bg-bread .left .avt {
        width: 75px;
        height: 75px;
    }

    #bg-bread .left {
        position: absolute;
        left: 0;
        bottom: 10px;
    }

    #bg-bread .right {
        position: absolute;
        right: 0;
        bottom: 10px;
    }

.table-featured {
    border: 1px dashed rgb(255 61 78 / 41%);
    border-radius: 8px;
    overflow: hidden;
}

.border-dash {
    border: 1px dashed rgb(255 61 78 / 41%);
}

.table-featured .title {
    background-color: rgb(255 61 78 / 41%);
    border-bottom: 1px dashed rgb(255 61 78 / 41%);
    padding: 15px;
}

    .table-featured .title img {
        width: 60px;
        height: 60px;
    }

.table-featured ul {
    padding: 15px;
}

    .table-featured ul li {
        border-bottom: 1px solid #d6d5d5;
        margin-top: 0;
        padding: 8px 0;
    }

        .table-featured ul li:last-child {
            border: none;
        }


/* ///////////////////// */
/* Chi tiết công việc  */
/* ///////////////////// */
#detail-job .summary-job {
    background-color: rgba(168, 253, 204, 0.589);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}

    #detail-job .summary-job .item {
        padding: 10px;
    }

        #detail-job .summary-job .item img {
            width: 35px;
            margin-bottom: 0;
            margin-right: 15px;
            background-color: rgba(168, 253, 186, 0.897);
            padding: 5px;
            border-radius: 50%;
        }

#detail-job .main-job .title {
    background-color: rgba(51, 51, 51, 0.767);
    color: white;
    padding: 10px 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

    #detail-job .main-job .title img {
        width: 25px;
        padding: 4px;
        background-color: white;
        border-radius: 50%;
        margin-bottom: 0;
        margin-right: 10px;
    }


#profile {
    padding: 50px 0;
    position: relative;
}

    #profile .body {
        text-align: center;
        background-color: white;
        box-shadow: 0 3px 9px #0003 !important;
        margin: auto;
        width: 500px;
        border-radius: 15px;
        padding: 20px 10px;
    }

        #profile .body .avatar-profile img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

@media only screen and (max-width: 480px) {
    #bg-bread {
        margin-top: var(--header-height-mobile);
    }
    #slider .form {
        width: 95%;
    }

    #profile .body {
        width: 95vw;
    }

    .title-line {
        position: relative;
    }

        .title-line::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: var(--primary);
            top: 50%;
            z-index: 0;
        }

        .title-line h3 {
            font-size: 1.1rem;
            font-weight: 600;
            text-transform: uppercase;
            background-color: var(--primary);
            color: white;
            padding: 8px 20px;
            border-radius: 30px;
            margin-bottom: 0;
            z-index: 1;
            letter-spacing: 0;
        }

    #job .item {
        margin-bottom: 10px;
    }

        #job .item img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            margin-bottom: 0 !important;
            margin-right: 10px;
        }

    #bg-bread .left {
        position: absolute;
        left: 10px;
        bottom: 10px;
        width:50%
    }

    #bg-bread .right {
        position: absolute;
        right: 30px;
        width: 50%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 912px) {
    #profile .body {
        width: 400px;
    }


    #job .item {
        margin-bottom: 15px;
    }

    #bg-bread .left {
        position: absolute;
        left: 10px;
        bottom: 10px;
    }

    #bg-bread .right {
        position: absolute;
        right: -100px;
    }
    #bg-bread {
        margin-top: 63px;
    }
    #user:hover .submenu {
        top: 100% !important; 
        right: -27% !important;
        width: 100vw !important;
        background-color: var(--primary) !important;
        border-radius: 0 !important;
        margin-top: 0 !important;
        
    }
}

@media only screen and (min-width: 912px) and (max-width: 1200px) {
    #user:hover .submenu {
        top: 100%;
        right: -27%;
        width: 100vw;
        background-color: var(--primary);
        border-radius: 0;
        margin-top: 0;
    }
    #bg-form {
        margin-top: 63px;
    }
    #job .item {
        margin-bottom: 20px;
    }

    #bg-bread .left {
        position: absolute;
        left: 10px;
        bottom: 10px;
    }

    #bg-bread .right {
    position: absolute;
    right: -100px;
    }
    #bg-bread {
        margin-top:64px;
    }
}

@media only screen and (min-width:768px){
    
}

@media only screen and (max-width: 480px) {
    #user:hover .submenu {
        top: 100%;
        right: -27%;
        width: 100vw;
        background-color: var(--primary);
        border-radius: 0;
        margin-top: 0;
    }
}


#user .submenu {
    display: none;
}

/* Show submenu when user hovers over the user element */
#user:hover .submenu {
    display: block;
    position: absolute;
    top: 150%;
    right: -110%;
    /*left: 50%;
    transform: translateX(-50%);*/
    z-index: 999;
    width: 180px;
    background-color: var(--primary);
    border-radius: 5px;
    margin-top: 0;
}
/* Style the submenu */
#user .submenu li {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 0;
}

    #user .submenu li:first-child a {
        border-radius: 5px 5px 0 0;
    }

    #user .submenu li:last-child a {
        border-radius: 0 0 5px 5px;
    }

.submenu::after {
    cursor: pointer;
    content: "";
    position: absolute;
    left: 0;
    top: -18px;
    border-width: 15px 90px;
    border-style: solid;
    border-color: transparent transparent transparent transparent;
}

#user .submenu li a {
    display: block;
    padding: 10px;
    color: #fff !important;
    background-color: var(--primary);
    text-decoration: none;
    font-weight: 600;
    position: relative;
}

#user .submenu li:not(:first-child) a:after {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    width: 50%;
    height: 1px;
    background-color: #fff;
}



#user .submenu li a:hover {
    opacity: 0.5;
}

.btn-login {
    font-weight: 600;
    text-transform: uppercase;
    /*letter-spacing: 1px;*/
    /*padding: 0 15px;*/
    color: var(--primary-inverse) !important;
}

#user {
    margin-top: 4px;
    position: relative;
}

#header-desktop, #header-mobile {
    padding: 12px 0;
}

.action-wrapper {
    width: 330px;
    justify-content: space-around;
}

.btn-update {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn.btn-update:hover,
btn-update:focus {
    background-color: #116bf0;
    border-color: #116bf0;
}
