@using BusinessConnectManagement.Models;

@{
    BCMEntities db = new BCMEntities();

    int studentNumber = db.VanLangUsers.Count(x => x.Role == "Student");
    int facultyNumber = db.VanLangUsers.Count(x => x.Role == "Faculty");
    int mentorNumber = db.VanLangUsers.Count(x => x.Role == "Mentor");
    int userActiveNumber = db.VanLangUsers.Count(x => x.Status_ID == 1);
    int userBlockedNumber = db.VanLangUsers.Count(x => x.Status_ID == 2);
}

@{
    ViewBag.Title = "Trang quản lý - BCM";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="dashboard">
    <div class="dashboard-item">
        <h3>Thống kê quyền người dùng</h3>
        <canvas id="pie-chart1"></canvas>
    </div>

    <div class="dashboard-item">
        <h3>Thống kê trạng thái người dùng</h3>
        <canvas id="pie-chart2"></canvas>
    </div>
</section>

@section Scripts {
    <script>
    new Chart(document.getElementById("pie-chart1"), {
        type: "bar",
        data: {
            labels: ["BCN Khoa", "Giảng viên hướng dẫn", "Sinh viên"],
            datasets: [
                {
                    label: `Số lượng`,
                    backgroundColor: ["#ffbe0b", "#374090", "#FC5C7D"],
                    data: [@facultyNumber, @mentorNumber, @studentNumber],
                },
            ],
        },
        options: {
            title: {
                display: true,
                text: "Pie Chart for role panel",
            },
            reponsive: true,
        },
    });

    new Chart(document.getElementById("pie-chart2"), {
        type: "bar",
        data: {
            labels: ["Đang hoạt động", "Bị khóa"],
            datasets: [
                {
                    label: `Số lượng`,
                    backgroundColor: ["#38663c", "#e21c34"],
                    data: [@userActiveNumber, @userBlockedNumber],
                },
            ],
        },
        options: {
            title: {
                display: true,
                text: "Pie Chart for status panel",
            },
            reponsive: true,
        },
    });
    </script>
    }