
@{
    ViewBag.Title = "BCM - Vị Trí Thực Tập";
    Layout = "~/Views/Shared/_LayoutHeaderOnly.cshtml";
}

<section class="topic">
    <h5 class="topic-heading">Chủ đề thực tập</h5>
    <ul class="columns">
        <li class="col-4 col-sm-12 col-md-6 col-xl-4" style="padding: 0 10px; margin-bottom: 10px;">
            <div class="topic-item" style="background-image: linear-gradient(to right, #f12711, #f5af19)">
                <p class="topic-text">Khảo sát tình hình CNTT <br />ở doanh nghiệp</p>
                <div class="topic-wrap is-hide">
                    <table class="topic-desc">
                        <thead>
                            <tr>
                                <th>Mục Tiêu</th>
                                <th>Nội dung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    - Giúp sinh viên có cơ hội tiếp xúc với môi trường CNTT của
                                    doanh nghiệp<br />
                                    - Tìm hiểu những kiến trúc mạng của doanh nghiệp <br />
                                    -Phân tích và đánh giá những điểm mạnh/điểm yếu của CNTT ở
                                    doanh nghiệp<br />
                                    - Nâng cao kỹ năng thiết kế CNTT cho doanh nghiệp
                                </td>
                                <td>
                                    - Khảo sát tình hình CNTT ở doanh nghiệp: <br />
                                    + Phân tích <br />
                                    + Đánh giá <br />
                                    + Đề xuất giải pháp <br />
                                    - Hoạt động CNTT ở doanh nghiệp có thể khảo sát như: Phần mềm
                                    quản lý, Mạng, Quy trình quản lý sản phẩm…
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
        <li class="col-4 col-sm-12 col-md-6 col-xl-4" style="padding: 0 10px; margin-bottom: 10px;">
            <div class="topic-item" style="background-image: linear-gradient(to right,#8a2387,#e94057,#f27121 );">
                <p class="topic-text">
                    Thu thập và phân tích yêu cầu <br />thực hiện phần mềm <br />(BA - Business Analysist)
                </p>
                <div class="topic-wrap is-hide">
                    <table class="topic-desc">
                        <thead>
                            <tr>
                                <th>Mục Tiêu</th>
                                <th>Nội dung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    - Giúp sinh viên có cơ hội tiếp xúc với khách hàng thực tế
                                    <br />
                                    - Rèn luyện các kỹ năng lấy yêu cầu <br />
                                    - Phân tích được yêu cầu khách hàng <br />
                                    - Thiết kế được giao diện mẫu của phần mềm
                                </td>
                                <td>
                                    - Đọc hiểu các tài liệu giải pháp, tài liệu thiết kế để hiểu
                                    rõ yêu cầu sản phẩm. <br />
                                    - Lấy yêu cầu từ doanh nghiệp <br />
                                    - Phân tích yêu cầu <br />
                                    - Xác định các chức năng của phần mềm <br />
                                    - Thiết kế giao diện (UI) của phần mềm <br />
                                    - Phân tích về UI/UX
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
        <li class="col-4 col-sm-12 col-md-6 col-xl-4" style="padding: 0 10px; margin-bottom: 10px;">
            <div class="topic-item" style="background-image: linear-gradient(to right, #7f7fd5, #86a8e7,#91eae4 ); ">
                <p class="topic-text">Thiết kế (Graphic Designer)</p>
                <div class="topic-wrap is-hide">
                    <table class="topic-desc">
                        <thead>
                            <tr>
                                <th>Mục Tiêu</th>
                                <th>Nội dung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    - Giúp sinh viên có cơ hội tiếp xúc với cách design với các
                                    công cụ thiết kế <br />
                                    - Trải nghiệm thiết kế những sản phẩm thực tế <br />
                                    - Hiểu rõ được đi từ yêu cầu thành thiết kế
                                </td>
                                <td>
                                    - Thiết kế giao diện Website <br />
                                    - Thiết kế Banner/Backdrop/Card Visit, Profile…. <br />
                                    - Thiết kế giao diện Mobile App
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
        <li class="col-4 col-sm-12 col-md-6 col-xl-4" style="padding: 0 10px; margin-bottom: 10px;">
            <div class="topic-item" style="background-image: linear-gradient(to right, #ee0979, #ff6a00)">
                <p class="topic-text">Nhập liệu dữ liệu cho <br />phần mềm</p>
                <div class="topic-wrap is-hide">
                    <table class="topic-desc">
                        <thead>
                            <tr>
                                <th>Mục Tiêu</th>
                                <th>Nội dung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    - Giúp sinh viên có cơ hội tiếp xúc với dữ liệu thực tế
                                    <br />
                                    - Phân tích được các thông tin dữ liệu có thể có của một lĩnh
                                    vực nào đó <br />
                                    - Khảo sát được những bất cập trong lưu trữ dữ liệu <br />
                                    - Đánh giá dữ liệu như thế nào là tốt cho phần mềm
                                </td>
                                <td>
                                    - Nhập liệu dữ liệu cho phần mềm <br />
                                    - Phân tích dữ liệu nhập liệu <br />
                                    - Thiết kế lại mô hình dữ liệu lưu trữ <br />
                                    - Đề xuất cách thiết kế dữ liệu tốt hơn <br />
                                    - Đánh giá dữ liệu hiện tại của phần mềm
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
        <li class="col-4 col-sm-12 col-md-6 col-xl-4" style="padding: 0 10px; margin-bottom: 10px;">
            <div class="topic-item" style="background-image: linear-gradient(to right, #654ea3, #eaafc8)">
                <p class="topic-text">Lập trình Front-end: <br />HTML, CSS, Javascript...</p>
                <div class="topic-wrap is-hide">
                    <table class="topic-desc">
                        <thead>
                            <tr>
                                <th>Mục Tiêu</th>
                                <th>Nội dung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    - Giúp sinh viên lập trình thiết kế giao diện Website <br />
                                    - Phân tích được UI/UX của Website <br />
                                    - Nâng cao kỹ năng code HTML, CSS, Javascript…
                                </td>
                                <td>
                                    - Phát triển theme cho website công ty <br />
                                    - Cắt HTML/CSS chuẩn theo thiết kế <br />
                                    - Code các chức năng frontend <br />
                                    - Phân tích về UI/UX
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
        <li class="col-4 col-sm-12 col-md-6 col-xl-4" style="padding: 0 10px; margin-bottom: 10px;">
            <div class="topic-item" style="background-image: linear-gradient(to right, #f3904f, #3b4371)">
                <p class="topic-text">Lập trình Back-end: <br />Java, Python, ASP.NET, C#, PHP…</p>
                <div class="topic-wrap is-hide">
                    <table class="topic-desc">
                        <thead>
                            <tr>
                                <th>Mục Tiêu</th>
                                <th>Nội dung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    - Giúp sinh viên có cơ hội lập trình với các ngôn ngữ đã học
                                    <br />
                                    - Lập trình để xử lý, thực hiện các tác vụ <br />
                                    - Thực hiện các chức năng thực tế trên phần mềm <br />
                                    - Thực hành lập trình với những chức năng nâng cao hơn.
                                    <br />
                                    - Rèn luyện kỹ năng tối ưu code
                                </td>
                                <td>
                                    - Phát triển tính năng hệ thống hoặc API cho ứng dụng mobile.
                                    <br />
                                    - Nâng cấp và tối ưu hệ thống backend. <br />
                                    - Kết hợp với Front-end Developers để tăng trải nghiệm người
                                    dùng <br />
                                    - Hỗ trợ Front-end Developers trong coding và xử lý sự cố
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
        <li class="col-4 col-sm-12 col-md-6 col-xl-4" style="padding: 0 10px; margin-bottom: 10px;">
            <div class="topic-item" style="background-image: linear-gradient(to right, #fd746c, #ff9068)">
                <p class="topic-text">Kiểm thử phần mềm <br />(Tester)</p>
                <div class="topic-wrap is-hide">
                    <table class="topic-desc">
                        <thead>
                            <tr>
                                <th>Mục Tiêu</th>
                                <th>Nội dung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    - Giúp sinh viên có cơ hội tiếp xúc với phần mềm thực tế
                                    <br />
                                    - Nâng cao kỹ năng kiểm thử và viết test case <br />
                                    - Hỗ trợ khách hàng tìm ra lỗi. <br />
                                    - Nâng cao kỹ năng giao tiếp với nhóm phát triển. <br />
                                    - Tìm hiểu thêm được các công cụ Test và quy trình Test
                                </td>
                                <td>
                                    - Viết các tài liệu kiểm thử và lên kế hoạch test bao gồm:
                                    Test plan, test scenario, test case. <br />
                                    - Thực hiện kiểm thử sản phẩm. <br />
                                    - Hỗ trợ khách hàng, kiểm tra, tái hiện các lỗi phát sinh theo
                                    phản hồi của khách hàng; kiểm thử lại phần mềm sau khi đội
                                    Phát triển sửa lỗi. <br />
                                    - Nghiên cứu và cập nhật các công cụ test, các kiến thức mới
                                    hỗ trợ cho công việc. <br />
                                    - Đề xuất cải tiến sản phẩm hoặc quy trình test.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
        <li class="col-4 col-sm-12 col-md-6 col-xl-4" style="padding: 0 10px; margin-bottom: 10px;">
            <div class="topic-item" style="background-image: linear-gradient(to right, #000046, #1cb5e0)">
                <p class="topic-text">Triển khai phần mềm</p>
                <div class="topic-wrap is-hide">
                    <table class="topic-desc">
                        <thead>
                            <tr>
                                <th>Mục Tiêu</th>
                                <th>Nội dung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    - Giúp sinh viên nâng cao kỹ năng giao tiếp và truyền đạt
                                    thông tin <br />
                                    - Tiếp xúc được với phần mềm thực tế <br />
                                    - Hiểu được cách một phần thực tế hoạt động <br />
                                    - Rèn luyện kỹ năng cài đặt và sửa lỗi phần mềm
                                </td>
                                <td>
                                    - Đào tạo, hỗ trợ khách hàng sử dụng phần mềm <br />
                                    - Cài đặt, hướng dẫn, hỗ trợ khách hàng sử dụng phần mềm và xử
                                    lý các sự cố CNTT khác. <br />
                                    - Truyền thông các mục tiêu nội dung triển khai đến khách hàng
                                    theo yêu cầu. <br />
                                    - Thu thập ý kiến khách hàng làm biên bản ghi nhận để cải tiến
                                    phần mềm ngày một hoàn thiện hơn.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
        <li class="col-4 col-sm-12 col-md-6 col-xl-4" style="padding: 0 10px; margin-bottom: 10px;">
            <div class="topic-item" style="background-image: linear-gradient(to right, #4ecdc4, #556270)">
                <p class="topic-text">Chăm sóc khách hàng <br />(Help desk)</p>
                <div class="topic-wrap is-hide">
                    <table class="topic-desc">
                        <thead>
                            <tr>
                                <th>Mục Tiêu</th>
                                <th>Nội dung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    - Giúp sinh viên giao tiếp được với khách hàng sử dụng đầu
                                    cuối
                                    <br />
                                    - Nâng cao kỹ năng giải quyết vấn đề <br />
                                    - Nâng cao kỹ năng tiếp thu Feedback <br />
                                    - Nâng cao kỹ năng hướng dẫn người dùng
                                </td>
                                <td>
                                    - Hỗ trợ công ty tiếp nhận Feedback từ người dùng <br />
                                    - Hỗ trợ các bộ phân liên quan tiếp nhận Feedback và giải
                                    quyết vấn đề <br />
                                    - Tiếp nhận các Feedback và giải quyết <br />
                                    - Phân tích dữ liệu Feedback và đưa ra hướng giải quyết.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
        <li class="col-4 col-sm-12 col-md-6 col-xl-4" style="padding: 0 10px; margin-bottom: 10px;">
            <div class="topic-item" style="background-image: linear-gradient(to right, #eecda3, #ef629f)">
                <p class="topic-text">Digital Marketing</p>
                <div class="topic-wrap is-hide">
                    <table class="topic-desc">
                        <thead>
                            <tr>
                                <th>Mục Tiêu</th>
                                <th>Nội dung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    - Giúp sinh viên biết cách lập kế hoạch truyền thông media
                                    <br />
                                    - Nâng cao kỹ năng phân tích và tối ưu hóa chiến dịch của
                                    khách hàng <br />
                                    - Tìm hiểu việc quản lý các websie bán hàng
                                </td>
                                <td>
                                    - Lập kế hoạch và triển khai các hoạt động truyền thông media
                                    qua các kênh: Google,Facebook,v.v.. <br />
                                    - Phân tích chiến dịch và tối ưu hóa chi phí cho từng chiến
                                    dịch của khách hàng. <br />
                                    - Theo dõi, phân tích & đánh giá hiệu suất quảng cáo,đề xuất
                                    giải pháp và áp dụng công <br />
                                    nghệ mới cho các kênh quảng cáo. <br />
                                    - Quản lý website bán hàng và các trang TMĐT. <br />
                                    - Báo cáo kết quả quảng cáo.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
        <li class="col-4 col-sm-12 col-md-6 col-xl-4" style="padding: 0 10px; margin-bottom: 10px;">
            <div class="topic-item" style="background-image: linear-gradient(to right, #ff7e5f, #feb47b)">
                <p class="topic-text">Content Marketing</p>
                <div class="topic-wrap is-hide">
                    <table class="topic-desc">
                        <thead>
                            <tr>
                                <th>Mục Tiêu</th>
                                <th>Nội dung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    - Giúp sinh viên nâng cao kỹ năng viết bài cho Facebook
                                    fanpage, Website…. <br />
                                    - Nâng cao kỹ năng phối hợp cùng với Digital Marketing để viết
                                    bài chuẩn SEO <br />
                                    - Rèn luyện kỹ năng xây dựng ý tưởng sáng tạo cho bài viết,
                                    nội dung.
                                </td>
                                <td>
                                    - Xây dựng nội dung & viết bài cho Facebook fanpage, Website….
                                    và một số kênh truyền thông khác <br />
                                    - Phối hợp cùng team Marketing xây dựng bài viết chuẩn SEO cho
                                    website <br />
                                    - Tham gia cùng team đóng góp các ý tưởng nội dung sáng tạo,
                                    xây dựng và quản lý các chiến dịch Marketing, thực hiện các
                                    chương trình liên quan đến quảng bá thương hiệu, truyền thông
                                    trong nội bộ…. <br />
                                    - Quản lý nội dung cho Website,....
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
        <li class="col-4 col-sm-12 col-md-6 col-xl-4" style="padding: 0 10px; margin-bottom: 10px;">
            <div class="topic-item" style="background-image: linear-gradient(to right, #2980b9, #2c3e50)">
                <p class="topic-text">Quản trị Web Web Admin & Operation</p>
                <div class="topic-wrap is-hide">
                    <table class="topic-desc">
                        <thead>
                            <tr>
                                <th>Mục Tiêu</th>
                                <th>Nội dung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    - Giúp sinh viên nâng cao kỹ năng quản trị Website, tương tác
                                    với Website và thực hiện các chức năng quản trị <br />
                                    - Vận hành và bảo trì hệ thống IT <br />
                                    - Nâng cao kỹ năng phối hợp với bộ phận Digital Marketing và
                                    Content Marketing để tối ưu hóa Website và liên kết với trang
                                    Fanpage.
                                </td>
                                <td>
                                    - Quản trị, vận hành website của công ty, update kịp thời về
                                    thông tin sản phẩm mới, nội dung bài viết trên website của
                                    công ty. <br />
                                    - Cập nhật thông tin và bảo trì website, đảm bảo tính ổn định
                                    kỹ thuật và chất lượng thông tin: Đăng bài, thay đổi liên tục,
                                    đảm bảo những công cụ như mua bán trên mạng hoạt động tốt.
                                    <br />
                                    - Tối ưu hóa website (SEO, Google Adwords). Phân tích và đánh
                                    giá về thị trường thông qua các từ khóa yêu cầu. <br />
                                    - Xây dựng và quản lý Fanpage Facebook của công ty, tăng Like,
                                    comment, view trên Fanpage
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
        <li class="col-4 col-sm-12 col-md-6 col-xl-4" style="padding: 0 10px; margin-bottom: 10px;">
            <div class="topic-item" style="background-image: linear-gradient(to right, #b79891, #94716b)">
                <p class="topic-text">Thực tập sinh Tuyển dụng <br />và HR IT</p>
                <div class="topic-wrap is-hide">
                    <table class="topic-desc">
                        <thead>
                            <tr>
                                <th>Mục Tiêu</th>
                                <th>Nội dung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    - Giúp sinh viên tiếp cận với quy trình tuyển dụng liên quan
                                    lĩnh vực IT <br />
                                    - Nâng cao kỹ năng giao tiếp, sắp xếp, lập kế hoạch <br />
                                    - Tăng khả năng tìm hiểu và tiếp cận với công nghệ mới thông
                                    qua việc phỏng vấn với IT <br />
                                    - Nâng cao cả khả năng giải quyết vấn đề <br />
                                    - Nâng cao khả năng tổ chức sự kiện dành cho IT
                                </td>
                                <td>
                                    - Tham gia vào quá trình tuyển dụng. <br />
                                    - Thu hút, tìm kiếm ứng viên tiềm năng các vị trí khối IT và
                                    non-IT <br />
                                    - Liên hệ, sắp xếp lịch phỏng vấn, thông báo kết quả tuyển
                                    dụng;
                                    <br />
                                    - Tham gia tổ chức các chương trình nhằm xây dựng thương hiệu
                                    tuyển dụng, công tác tạo nguồn của Công ty qua kênh mạng xã
                                    hội và offline tại trường học, hội thảo;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
        <li class="col-4 col-sm-12 col-md-6 col-xl-4" style="padding: 0 10px; margin-bottom: 10px;">
            <div class="topic-item" style="background-image: linear-gradient(to right, #536976, #292e49)">
                <p class="topic-text">Lập trình Mobile (Android/iOS)</p>
                <div class="topic-wrap is-hide">
                    <table class="topic-desc">
                        <thead>
                            <tr>
                                <th>Mục Tiêu</th>
                                <th>Nội dung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    - Giúp sinh viên có khả năng xây dựng các ứng dụng Android
                                    <br />
                                    - Đảm bảo nội dung, UI/UX của ứng dụng tuân theo đặc tả yêu
                                    cầu và thiết kế; <br />
                                    - Xây dựng ứng dụng đảm bảo hiệu năng và trải nghiệm người
                                    dùng tốt nhất với ứng dụng; <br />
                                    - Có khả năng khắc phục sự cố và gỡ lỗi để tối ưu hóa hiệu
                                    suất;
                                </td>
                                <td>
                                    - Kiến thức nền tảng lập trình Android, sử dụng thành thao các
                                    thành phần của Android SDK để giải quyết các bài toán thực tế
                                    <br />
                                    - Nắm rõ các đối tượng giao diện cơ bản và nâng cao <br />
                                    - Làm việc với Android Services, Web Services, Location
                                    Services, Google Maps, Animationis, ... <br />
                                    - Hiểu rõ về ngôn ngữ XML, dữ liệu JSON <br />
                                    - Hoặc có kiến thức Android về Restful, Retrofit, Custom view,
                                    Flutter
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
        <li class="col-4 col-sm-12 col-md-6 col-xl-4" style="padding: 0 10px; margin-bottom: 10px;">
            <div class="topic-item" style="background-image: linear-gradient(to right, #ffe259, #ffa751)">
                <p class="topic-text">Lập trình Game</p>
                <div class="topic-wrap is-hide">
                    <table class="topic-desc">
                        <thead>
                            <tr>
                                <th>Mục Tiêu</th>
                                <th>Nội dung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    - Yêu thích lập trình và làm game <br />
                                    - Có kiến thức căn bản về C# hoặc Python <br />
                                    - Có kiến thức căn bản về thuật toán, cấu trúc dữ liệu và lập
                                    trình hướng đối tượng
                                </td>
                                <td>- Xây dựng ứng dụng Game</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
        <li class="col-4 col-sm-12 col-md-6 col-xl-4" style="padding: 0 10px; margin-bottom: 10px;">
            <div class="topic-item" style="background-image: linear-gradient(to right, #00416a, #e4e5e6)">
                <p class="topic-text">Lập trình React Native</p>
                <div class="topic-wrap is-hide">
                    <table class="topic-desc">
                        <thead>
                            <tr>
                                <th>Mục Tiêu</th>
                                <th>Nội dung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    - Có kiến thức căn bản về React Native/HTML5/CSS3/Javascript
                                    <br />
                                    - Có kiến thức về RESTful APIs.
                                </td>
                                <td>- Xây dựng Website với React</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
        <li class="col-4 col-sm-12 col-md-6 col-xl-4" style="padding: 0 10px; margin-bottom: 10px;">
            <div class="topic-item" style="background-image: linear-gradient(to right, #9796f0, #fbc7d4)">
                <p class="topic-text">Lập trình Wordpress</p>
                <div class="topic-wrap is-hide">
                    <table class="topic-desc">
                        <thead>
                            <tr>
                                <th>Mục Tiêu</th>
                                <th>Nội dung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    - Có kiến thức căn bản về Wordpress, PHP, MYSQL, Bootstrap,
                                    HTML5, CSS, JS <br />
                                    - Có khả năng làm việc với các phần mềm đồ họa (AI, Photoshop)
                                    <br />
                                    - Có kiến thức về Web responsive
                                </td>
                                <td>- Xây dựng Website bằng Wordpress</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
    </ul>
</section>

@section Scripts {
    <script type="text/javascript">
        const topicItem = document.querySelectorAll(".topic-item");
        const topicWrap = document.querySelectorAll(".topic-wrap");
        for (let i = 0; i < topicItem.length; i++) {
            topicItem[i].addEventListener("click", () => {
                topicWrap[i].classList.toggle("is-hide");
            });
        }
    </script>
}

