/* TABLE */
#table_id {
  position: relative;
  border-radius: 0.5rem;
  border-bottom: 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.dataTables_filter {
    float: left !important;
    text-align: left !important;
}


/* LIST */
.list-heading {
    text-align: center;
    font-weight: bold;
    color: var(--primary-color);
    user-select: none;
    margin: 0;
    text-transform: uppercase;
    font-size: 2rem !important;
    margin-bottom: 1rem;
}

/* Lọc FILTER */
#nameLabel {
    position: absolute;
    top: 15%;
    left: 43%;
}

#nameLabel1 {
    position: absolute;
    top: 15%;
    left: 49%;
}

#UserType{
    
    position: absolute;
    left: 52%;
    top: 0;
    transform: translateX(-50%);
    background-color: #fff !important;
    z-index: 10;
}
#UserType1 {
    position: absolute;
    left: 42%;
    top: 0;
    transform: translateX(-50%);
    background-color: #fff !important;
    z-index: 10;
}



#UserType2 {
    position: absolute;
    left: 55%;
    top: 0;
    transform: translateX(-50%);
    background-color: #fff !important;
    z-index: 10;
}

#table_listData {
    width: 100% !important;
}


#table_test {
    width: 100% !important;
}

.is-active {
    display: block;
}

.is-appear {
  display: block;
}

/* Checkbox */
.list-column .form-group:last-child {
  float: left;
}

.checkbox-wrapper {
  width: 22rem;
  display: flex;
}

.container {
  width: 100%;
  min-width: 15rem;
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1.3rem;
  user-select: none;
  padding-left: 40px;
  margin-block: 2rem;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  background: #eee;
  border-radius: 3px;
  transform: translateY(-50%);
}

.container:hover .checkmark {
  background: #ccc;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container .checkmark:after {
  top: 50%;
  left: 50%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.container input:checked~.checkmark {
  background: #2196f3;
}

.container input:checked~.checkmark:after {
  display: block;
}



header {
    -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
    height: 110px;
    vertical-align: middle;
}

.icons {
    display: inline;
    float: right
}

.notification {
    position: relative;
    display: inline-block;
}

.number {
    height: 18px;
    width: 18px;
    background-color: #d63031;
    border-radius: 50%;
    color: white;
    text-align: center;
    position: absolute;
    top: -6px;
    left: 10px;
}

    .number:empty {
        display: none;
    }

.notBtn {
    transition: 0.5s;
    cursor: pointer
}

.fas {
    font-size: 14pt;
    margin-right:1rem;
}

bell-icon{

}

.box {
    z-index: 1000;
    width: 400px;
    height: 0px;
    max-height:250px;
    border-radius: 10px;
    transition: 0.5s;
    position: absolute;
    overflow-y: scroll;
    padding: 0px;
    left: -300px;
    margin-top: 5px;
    background-color: #F4F4F4;
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
    cursor: context-menu;
}

.fas:hover {
    color: var(--primary-color);
}

.notBtn:hover > .box {
    height: 60vh
}

.content {
    padding: 20px;
    color: black;
    vertical-align: middle;
    text-align: left;
}

.gry {
    background-color: #F4F4F4;
}

.top {
    color: black;
    padding: 10px
}

.display {
    position: relative;
}

.cont {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F4F4F4;
}

    .cont:empty {
        display: none;
    }

.stick {
    text-align: center;
    display: block;
    font-size: 50pt;
    padding-top: 70px;
    padding-left: 80px
}

    .stick:hover {
        color: black;
    }

.cent {
    text-align: center;
    display: block;
}

.sec {
    padding: 25px 10px;
    background-color: #F4F4F4;
    transition: 0.5s;
}

.profCont {
    padding-left: 15px;
}

.profile {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    width: 75px;
    float: left;
}

.txt {
    vertical-align: top;
    font-size: 1.25rem;
    padding: 5px 10px 0px 5px;
}

.sub {
    font-size: 1rem;
    color: grey;
}

.new {
    border-style: none none solid none;
    border-color: red;
}

.sec:hover {
    background-color: #BFBFBF;
}


