/* List */
.list {
  width: 100%;
  height: 100%;
  padding-left: 18rem;
  padding-top: 3.5rem;
  position: relative;
}

.list-heading,
.form-heading {
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
  user-select: none;
}

.list-heading {
  margin-top: 1rem;
}

.list-table {
  padding-inline: 1rem;
}

.is-active {
  display: block;
}