/* TABLE */
#table_id {
  position: relative;
  border-radius: 0.5rem;
  border-bottom: 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.dataTables_filter {
    float: left !important;
    text-align: left !important;
}


/* LIST */
.list-heading {
    text-align: center;
    font-weight: bold;
    color: var(--primary-color);
    user-select: none;
    margin: 0;
    text-transform: uppercase;
    font-size: 2rem !important;
    margin-bottom: 1rem;
}

/* Lọc FILTER */
#nameLabel {
    position: absolute;
    top: 14%;
    left: 43%;
}

#nameLabel1 {
    position: absolute;
    top: 14%;
    left: 49%;
}

#UserType{
    
    position: absolute;
    left: 52%;
    top: 0;
    transform: translateX(-50%);
    background-color: #fff !important;
    z-index: 10;
}
#UserType1 {
    position: absolute;
    left: 42%;
    top: 0;
    transform: translateX(-50%);
    background-color: #fff !important;
    z-index: 10;
}



#UserType2 {
    position: absolute;
    left: 55%;
    top: 0;
    transform: translateX(-50%);
    background-color: #fff !important;
    z-index: 10;
}

#table_listData {
    width: 100% !important;
}


#table_test {
    width: 100% !important;
}

.is-active {
    display: block;
}

.is-appear {
  display: block;
}

/* Checkbox */
.list-column .form-group:last-child {
  float: left;
}

.checkbox-wrapper {
  width: 22rem;
  display: flex;
}

.container {
  width: 100%;
  min-width: 15rem;
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1.3rem;
  user-select: none;
  padding-left: 40px;
  margin-block: 2rem;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  background: #eee;
  border-radius: 3px;
  transform: translateY(-50%);
}

.container:hover .checkmark {
  background: #ccc;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container .checkmark:after {
  top: 50%;
  left: 50%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.container input:checked~.checkmark {
  background: #2196f3;
}

.container input:checked~.checkmark:after {
  display: block;
}