* {
  --warn-bg: #d62e4a;
  --warn-text: #af233a;
}

body {
  font-family: var(--font-toast);
  font-size: 14px;
}

.option {
  position: relative;
}

.toast {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.toast-wrap {
  width: 400px;
  background-color: #f9e1e5;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  animation: slide 0.5s linear 0s 1 alternate forwards;
}

@keyframes slide {
  from {
    top: 1rem;
    right: 1rem;
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    top: 1rem;
    right: 1rem;
    transform: translateX(0);
    opacity: 1;
  }
}

.toast-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 3px solid #f4c8cf;
  border-radius: 5px 5px 0 0;
}

.toast-left {
  display: flex;
  align-items: center;
}

.toast-left-icon {
  color: var(--warn-bg);
  margin-right: 5px;
  font-size: 18px;
}

.toast-left-heading {
  font-size: 16px;
  font-weight: bold;
  color: var(--warn-text);
}

.toast-right-time {
  color: var(--warn-text);
}

.toast-right-icon {
  color: var(--warn-text);
  font-size: 20px;
  cursor: pointer;
}

.toast-content {
  padding: 5px 10px;
}

.toast-content-text {
  color: var(--warn-text);
  text-align: left;
  line-height: 1.5;
  font-size: 15px;
}